html{
    font-size: 62.5%;
}

body {
    background: #E0FFFF ;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "tailwindcss";
@font-face {
    font-family: Lora;
    src: url("../assets/fonts/Lora-Italic.ttf");
}

@theme {
    --font-lora: Lora, "sans-serif"
}
